$dark1: #666666;
$dark2: #424242;
$dark3: #333333;
$dark4: #1d1d1d;
$dark5: #181818;
$dark6: #000000;

$light1: #f2f3f7;
$light2: #f5f5f5;
$light3: #e7e7e7;
$light4: #e5e5e5;
$light5: #cccccc;
$light6: #999999;
$light7: #878c90;
$light8: #8f8f8f;

$color-pallete :
'blue' #b7c5d3 #99aec2 #89adce #77a0c7 #6b98c2 #567a9b,
'dark' #666666 #424242 #333333 #1d1d1d #181818 #000000,
'green' #b0d3b6 #7dad85 #5bab66 #429e4f #329640 #287833,
'light' #e7e7e7 #e5e5e5 #cccccc #999999 #878c90 #8f8f8f,
'orange' #facf67 #ffcc00 #ffd633 #ffd014 #ffba00 #f7af02,
'purple' #c3bfd0 #a29eae #9892ad #8882a0 #7e7798 #655f7a,
'red' #f9c6c6 #c37777 #cf5151 #c83637 #c32526 #9c1e1e,
'teal' #b5cbd3 #96bcc9 #84c4d9 #71bbd4 #65b5d0 #5191a6;


$social-icons :
  'dribble' '\f17d',
  'fb' '\50',
  'g_plus' '\51',
  'linkedin' '\52',
  'prinster' '\e602',
  'rss' '\f09e',
  'twitter' '\4f',
  'vimeo' '\e604',
  'behance' '\e603',
  'youtube' '\f167';

$normal-size: 1em;
$white: #fff;


