$main_color: #16b495;
$second_color: #11977d;
$third_color: #0e6f5c;
$rgb1: rgba(17, 151, 125, 0);
$rgb2 : rgba(17, 151, 125, 0.25);
$rgb3: rgba(17, 151, 125, 0.50);
$rgb4: rgba(17, 151, 125, 0.80);
@import "_apprentice";
