$main_color: #f63d3d;
$second_color: #c93131;
$third_color: #ad2d2d;
$rgb1: rgba(201, 49, 49, 0);
$rgb2 : rgba(201, 49, 49, 0.25);
$rgb3: rgba(201, 49, 49, 0.50);
$rgb4: rgba(201, 49, 49, 0.80);
@import "_apprentice";