$main_color: #34dd39;
$second_color: #2cc030;
$third_color: #329c2a;
$rgb1: rgba(44, 192, 48, 0);
$rgb2 : rgba(44, 192, 48, 0.25);
$rgb3: rgba(44, 192, 48, 0.50);
$rgb4: rgba(44, 192, 48, 0.80);
@import "_apprentice";

