$main_color: #a0d8f8;
$second_color: #76bee7;
$third_color: #5da2c9;
$rgb1: rgba(118, 190, 231, 0);
$rgb2 : rgba(118, 190, 231, 0.25);
$rgb3: rgba(118, 190, 231, 0.50);
$rgb4: rgba(118, 190, 231, 0.80);
@import "_apprentice";
