$normalSize: 1em; /*18px;*/
$gray: #343434; //da
$content_gray: #f8f8f8; //da
$lightGray: #e6e6e6; //da
$textGray: #828282; //da
$buttonGray: #4d4d4d; //da
$buttonBorderGray: #242424; //da
$black: #000;
$themeColors1: //light color
  'blue' #a0d8f8,
  'green' #34dd39,
  'purple' #9793ff,
  'red' #f63d3d,
  'teal' #16b495,
  'orange' #f4c664;
$themeColors2 : //middle color
  'blue' #76bee7,
  'green' #2cc030,
  'purple' #6d69b5,
  'red' #c93131,
  'teal' #11977d,
  'orange' #f2af20;
$themeColors3: //dark color
  'blue' #5da2c9,
  'green' #329c2a,
  'purple' #55528c,
  'red' #ad2d2d,
  'teal' #0e6f5c,
  'orange' #dd9d14;
$color_pallete:
  'blue' #a0d8f8 #76bee7 #5da2c9 #acddf9,
  'dark' #343434 #242424 #e6e6e6 #4d4d4d,
  'green' #34dd39 #2cc030 #329c2a #4de151,
  'light' #f8f8f8 #828282 #ffffff #f9f9f9,
  'purple' #9793ff #6d69b5 #55528c #a4a0ff,
  'red' #f63d3d #c93131 #ad2d2d #f75555,
  'teal' #16b495 #11977d #0e6f5c #32bda2,
  'orange' #f4c664 #f2af20 #dd9d14 #f5cd77;

