$main_color: #f4c664;
$second_color: #f2af20;
$third_color: #dd9d14;
$rgb1: rgba(242, 175, 32, 0);
$rgb2 : rgba(242, 175, 32, 0.25);
$rgb3: rgba(242, 175, 32, 0.50);
$rgb4: rgba(242, 175, 32, 0.80);
@import "main.scss";
