$main_color: #9793ff;
$second_color: #6d69b5;
$third_color: #55528c;
$rgb1: rgba(109, 105, 181, 0);
$rgb2 : rgba(109, 105, 181, 0.25);
$rgb3: rgba(109, 105, 181, 0.50);
$rgb4: rgba(109, 105, 181, 0.80);
@import "main.scss";
